<body style="background-color:powderblue;">
<h2>Information</h2>
<style>
h1 {text-align: center;}

</style>
<h6>Carewell Hospital is redefining the healthcare delivery system in Agra. Its motto 'Caring about you and your family', is the guiding principal for the hospital.

Located in Trans Yamuna Colony, Agra(U.P.), the Carewell Hospital is run by Dr. Dharmendra Sharma and Dr. Rinju Sharma. Special attention has been given to the design and aesthetics of different categories of rooms for the patient. </h6>

<img src="F:\Hospital\hospital\app\assets\images\Hospital.png" alt="Hospital" width="500" height="600">